html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  background: white;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.app {
  
  height: 100vh;
  background: #E5E5E5;
}
